@media screen and (min-width: 1200px) {
    .container { 
      max-width: 1158px;
    }


    .section-hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-desktop.jpg); 
      padding-top: 188px;
      padding-bottom: 188px;
      }
    
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
     .section-hero {
       background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-desktop@2x.jpg); 
     } 
    }
    .hero-title {
      margin-bottom: 48px;
    }

    .section-header {
      padding-top: 25px;
      padding-bottom: 25px;
      }
      .up {
        margin-right: 76px;
        } 
    .address-list {
      flex-direction: row;
      align-items: center;
       gap: 40px;
    }  
    .address-item > .link {
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: var(--color-text);
    }



    .about-list {
      width: 100%;
    }
    .about-item {
      width: calc((100% - 72px) / 4); 
      margin-bottom: 0;
     }
     .about-item:last-child { 
      margin-right: 0; 
      margin-bottom: 0;
    }
    .about-item:nth-child(2) {
      margin-right: 24px; 
    }
     .section-about {
      padding-top: 120px;
      padding-bottom: 120px;
   }
    .about-item-boxicon {
    display: flex;
    width: 264px;
    height: 112px;
    background: var(--color-footer-studio);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  .about-item-icon {
    display: block;
  }
    .about-subtitle {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
    }
    .about-text {
    font-weight: 400;
  } 
     
  

  .section-doing {
    display: block;
    padding-bottom: 120px;
  }
  .doing-list {
    display: flex;
    flex-wrap: wrap;
  }
  .doing-item {
    width: calc((100% - 48px) / 3);
  }
  .doing-item:not(:last-child) {
    margin-right: 24px;
  }
  .doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-title);
    margin-bottom: 72px;
  }



  .section-team { 
    padding-top: 120px;
    padding-bottom: 120px; 
  }
  .team-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }
  .team-item:nth-child(2n + 1) {
    margin-right: 0;
  }
  .team-item:not(:last-child) {
    margin-right: 24px;
  }
 


  .section-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-left: 15px;
  }
  .footer-oneblock {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-twoblock {
    margin-right: 80px;
    margin-bottom: 0;
  }
 
  .input-footer {
    width: 264px;
     }

  
   
  .section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .portfolio-btn {
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid var(--color-footer-text);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-web);
    background: var(--color-footer-studio);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-btn-item :hover,
  .portfolio-btn-item :focus {
    color: var(--color-white);
    background-color: var(--color-hover); 
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
  }
  .potfolio-btn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
  }

  .portfolio-btn-item:not(:last-child) {
    margin-right: 24px;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
  }

  .portfolio-item {
  width: calc((100% - 48px) / 3);
  background: var(--color-white);
  }
  .portfolio-item:not(:nth-child(3n)) {
    margin-right: 24px;
  }
  .portfolio-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 48px;
  }

  .portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-background-dark);
    margin-bottom: 8px;
  }
  .portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
  }
  .portfolio-item-block {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    border: 1px solid var(--color-footer-text);
    border-top: none; 
  }
  .portfolio-item-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item-wrapper {
    position: relative;
    overflow: hidden;
  }
  .portfolio-item-link:hover, .portfolio-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-footer-studio);
    background-color: var(--color-web);
    padding-top: 40px; 
    padding-left: 32px;
    padding-right: 32px;
  }
  .portfolio-item-link:hover .portfolio-overlay,
  .portfolio-item-link:focus .portfolio-overlay {
    transform: translateY(0);
  } 
}