@media screen and (min-width: 1200px) {
    .container { 
      max-width: 1158px;
    }


    .section-hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-desktop.jpg); 
      padding-top: 188px;
      padding-bottom: 188px;
      }
    
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
     .section-hero {
       background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-desktop@2x.jpg); 
     } 
    }
    .hero-title {
      margin-bottom: 48px;
    }

    .section-header {
      padding-top: 25px;
      padding-bottom: 25px;
      }
      .up {
        margin-right: 76px;
        } 
    .address-list {
    display: flex;
    align-items: center;
    gap: 40px;
    } 



    .about-list {
      width: 100%;
    }
    .about-item {
      width: calc((100% - 72px) / 4); 
      margin-bottom: 0;
     }
     .about-item:last-child { 
      margin-right: 0; 
      margin-bottom: 0;
    }
    .about-item:nth-child(2) {
      margin-right: 24px; 
    }
     .section-about {
      padding-top: 120px;
      padding-bottom: 120px;
   }
    .about-item-boxicon {
    display: flex;
    width: 264px;
    height: 112px;
    background: var(--color-footer-studio);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
  .about-item-icon {
    display: block;
  }
    .about-subtitle {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
    }
    .about-text {
    font-weight: 400;
  } 
     
  

  .section-doing {
    display: block;
    padding-bottom: 120px;
  }
  .doing-list {
    display: flex;
    flex-wrap: wrap;
  }
  .doing-item {
    width: calc((100% - 48px) / 3);
  }
  .doing-item:not(:last-child) {
    margin-right: 24px;
  }
  .doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-title);
    margin-bottom: 72px;
  }



  .section-team { 
    padding-top: 120px;
    padding-bottom: 120px; 
  }
  .team-container {
    padding-left: 15px;
    padding-right: 15px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
    margin-bottom: 0;
  }
  .team-item:nth-child(2n + 1) {
    margin-right: 0;
  }
  .team-item:not(:last-child) {
    margin-right: 24px;
  }
 


  .section-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .footer-container {
    display: flex;
    flex-wrap: nowrap;
    padding-left: 15px;
  }
  .footer-oneblock {
    margin-right: 120px;
  }
  .footer-twoblock {
    margin-right: 80px;
  }
  .footer-threeblock {
    margin-left: 0;
  }
  .input-footer {
    width: 264px;
    margin-bottom: 0;
  }
}
  