
:root {
  --color-web: #4d5ae5;
  --color-title: #2e2f42;
  --color-text: #434455;
  --color-white: #ffffff;
  --color-footer-studio: #f4f4fd;
  --color-footer-text: #e7e9fc;
  --color-background-light: #f4f4fd;
  --color-background-dark: #2e2f42;
  --color-hover: #404bbf;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 0;
}
 ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
 }

 img {
  display: block;
 }

body {
  color: var(--color-text);
  font-family: "Roboto", sans-serif;
  background-color: var(--color-white); 
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}


/* --------------Navigation------------------ */
@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  address {
    display: none;
  }
}

.section-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--color-footer-text);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-menu-open-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  height: 22px;
}


/* .nav {
  display: flex;
  align-items: center;
} */
/* .nav-list {
  display: flex;
  align-items: center;
} */
/* .address-list {
  display: flex;
  align-items: center;
} */
/* .up {
  margin-right: 76px;
} */
 /* .nav-item:not(:last-child) {
  margin-right: 40px;
  }  */
/* .address-item:not(:last-child) {
    margin-right: 40px;
}  */

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-web);
}

/* .nav-link {
  position: relative;
  color: var(--color-title);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.up > span {
    color: var(--color-title);
}

/* .nav-item :hover,
.nav-item :focus {
  color: var(--color-hover);
} */

/* .address-item > .link {
  color: var(--color-text);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .address-item :hover,
.address-item :focus {
  color: var(--color-hover);
} */

/* .current::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(44px);
  width: 100%;
  height: 4px;
  background: var(--color-hover);
  border-radius: 2px;
} */
/* .current {
  color: var(--color-hover);
} */

/* ------------------MOBILE-MENU---------------------------- */
.modal-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 95;
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.modal-menu-container {
  position: relative;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
}
.modal-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 19px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--color-footer-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  
}




/* ------------------HERO---------------------------- */

.section-hero {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
  background-color: var(--color-background-dark);
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-mobile.jpg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
 @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-mobile@2x.jpg); 
  } 
 }

.hero-title {
 max-width: 320px;
 min-height: 80px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-white);
  margin: auto;
  margin-bottom: 72px;
}

.btn {
  display: inline-block;
  padding: 16px 32px;
  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  background-color: var(--color-web);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
  background-color: var(--color-hover);
}
/* ------------------ABOUT---------------------------- */

.section-about {
  padding-top: 96px;
  padding-bottom: 96px;
}

 .about-item {
  width: 100%;
  margin-bottom: 72px;
}
.about-item:last-child {
  margin-bottom: 0;
}

.about-item-icon {
  display: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;   
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.about-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-title);
    margin-bottom: 8px;
}

.about-text {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ------------------DOING---------------------------- */
.section-doing {
  display: none;
}

/* ------------------TEAM---------------------------- */
.section-team {
  background-color: var(--color-background-light);  
  padding-top: 96px;
  padding-bottom: 96px; 
}
.team-list {
  display: block;
}
.team-item {
  width: 264px;
  background: var(--color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.team-item:last-child {
  margin-bottom: 0;
}
.team-title {    
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-title);
    margin-bottom: 72px;
}
.team-subtitle { 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-title);
    margin-bottom: 8px;
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-text);
    margin-bottom: 8px;
}
.team-item-block {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
 .team-item-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--color-web);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .team-item-icon {
  fill: var(--color-white);
 }
.team-item-link:hover, .team-item-link:focus {
  background-color: var(--color-hover);
}
 /* ------------------CUSTOMERS---------------------------- */
 .section-customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color-title);
margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.customers-item-boxicon {
  width: 190px;
  height: 88px;
}
.customers-item-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8E8F99;
  color: #8e8f99;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 
.customers-icon {
  fill: currentColor;
}
.customers-item-link:hover, .customers-item-link:focus {
  border: 1px solid var(--color-hover);
  color: var(--color-hover);
}

/* ------------------FOOTER---------------------------- */
.section-footer {
  background-color: var(--color-background-dark);  
  padding-top: 96px;
  padding-bottom: 96px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-web);
}

.footer-oneblock {
  width: 264px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
}
.down {
    display: block;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 16px;
}
.down > span {
  color: var(--color-footer-studio);  
}
.footer-text {
  display: block;
  /* max-width: 264px; */
  min-height: 72px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-footer-text);  
}
.footer-text-social {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-white);
margin-bottom: 16px;
text-align: center;
}
.footer-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.footer-item-link {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: var(--color-web);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-item-icon {
  fill: var(--color-white);
}
.footer-twoblock {
  margin-bottom: 72px;
}
.footer-item-link:hover, .footer-item-link:focus {
background-color: #31D0AA;
}

.input-footer {
  display: block;
  max-width: 398px;
  height: 40px;
  background-color:  var(--color-background-dark);
  border: 1px solid var(--color-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  color: var(--color-white);
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}
.input-footer::placeholder {
  font-size: 12px;
 line-height: 2;
 letter-spacing: 0.04em;
  color: var(--color-white);
  padding-top: 8px;
}
.footer-submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 24px;
  gap: 16px;
  fill: var(--color-white);
  margin-left: auto;
  margin-right: auto;
}

/* ------------------BACKDROP MODAL---------------------------- */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(360deg) scale(1);
  width: 408px;
  min-height: 576px;
  background: #FCFCFC;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms ease-in;
  padding: 72px 24px 24px 24px;
  
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) rotate(0deg) scale(0);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  background-color: var(--color-footer-text);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
background-color: var(--color-hover);
}
.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-icon {
  fill: var(--color-white);
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.form-modal-title {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--color-title);
margin-bottom: 16px;
}
.input-name {
display: block;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8E8F99;
margin-bottom: 4px;
}
.modal-input-wrapper {
  position: relative;
}
.modal-input {
  display: block;
  width: 360px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0 0 0 38px;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-picture {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.modal-input:focus {
  border: 1px solid var(--color-web);
}
.modal-input:focus + .modal-picture {
  fill: var(--color-web);
}
.modal-label {
  margin-bottom: 8px;
}
.modal-textarea {
  display: block;
  width: 360px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: transparent;
  padding: 8px 0 0 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-label-textarea {
  margin-bottom: 16px;
}
.modal-textarea:focus {
  border: 1px solid var(--color-web);
}
.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}
 
.modal-label-checkbox span {
    width: 16px;
    height: 16px;
    border: 1px solid var(--color-background-dark);
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    fill: transparent;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .modal-label-checkbox span {
  fill: var(--color-footer-studio);
  background-color: var(--color-hover);
  border-color: var(--color-hover);
} 

.input-checkbox:focus + .modal-label-checkbox span {
  fill: var(--color-footer-studio);
  background-color: var(--color-hover);
  border-color: var(--color-hover);
}

  .modal-label-checkbox {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99; 
    display: flex;
    align-items: center;
    margin-bottom: 24px;
  }

  .modal-submit-btn {
  align-self: center;
  } */

 /* ------------------PORTFOLIO---------------------------- */
.section-portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-btn {
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--color-footer-text);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-web);
  background: var(--color-footer-studio);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn-item :hover,
.portfolio-btn-item :focus {
  color: var(--color-white);
  background-color: var(--color-hover); 
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
}
.potfolio-btn-list {
  display: flex;
  justify-content: center;
   margin-bottom: 72px;
}

.portfolio-btn-item:not(:last-child) {
  margin-right: 24px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-item {
 width: calc((100% - 48px) / 3);
 background: var(--color-white);
}
.portfolio-item:not(:nth-child(3n)) {
  margin-right: 24px;
}
.portfolio-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 48px;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-background-dark);
  margin-bottom: 8px;
}
.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-text);
}
.portfolio-item-block {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--color-footer-text);
  border-top: none; 
}
.portfolio-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-item-link:hover, .portfolio-item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-footer-studio);
  background-color: var(--color-web);
  padding-top: 40px; 
  padding-left: 32px;
  padding-right: 32px;
}
.portfolio-item-link:hover .portfolio-overlay,
.portfolio-item-link:focus .portfolio-overlay {
  transform: translateY(0);
} */